@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}

.container {
    position: relative;
    max-width: 1280px;
    font-family: 'Roboto';
    margin: 60px auto 0;
    padding-bottom: 54px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    width: fit-content;
}

.title__link {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4BCAFF;
}

.title__decoration {
    color: #000000;
}

.nav {
    display: flex;
    justify-content: center;
    align-content: stretch;
    margin-top: 38px;
    background: #35444F;
}

.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 72px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 40px;
    transition: 300ms;

}

.nav__link:hover {
    background: #222F3A;
}

.main_container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 49px;
}

.main__menu {
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.menu__item {
    display: flex;
    align-items: center;
    padding-left: 44px;
    width: 342px;
    height: 81px;
    color: #485863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    transition: 300ms;
}

.menu__item:hover {
    background: #DBDBDB;
    padding-left: 74px;
    color: black;

}

.main__content {
    width: 880px;

    display: flex;
    flex-direction: column;
}

.img__wrapper {
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main__image {
    transition: 500ms;
}

.main__image:hover {
    transform: scale(1.3);
}

.main__text-first,
.main__text-second {
    margin: 37px 0 0 0;
    text-align: left;
}

.footer {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}

.footer__links {
    width: 875px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;


}

.footer__item {
    display: flex;
    align-items: center;
    height: 69px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    transition: 500ms;

}



.copyright {
    margin: 0 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.footer__item:hover {
    text-decoration: underline;
    color: #3181A6;
}
